<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Authenticated - Spotify App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="form-container">
        <h1>Successfully Authenticated!</h1>
        <p>You have successfully logged in with Spotify.</p>
        <p>Now, let's get your Last.fm details to create a playlist with your top tracks!</p>

        <!-- Link to the Last.fm form -->
        <a href="/lastfm_form" class="submit-btn">Enter last.fm Details</a>

    </div>
</body>
</html>
